    <!-- Download Section -->
    <section id="register" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Come join us in Seattle<h2> <p> September 5th-9th, 2016</p>
                    <a href=http://escience.washington.edu/get-involved/neurohackweek/neurohackweek-registration-form class="btn btn-default btn-lg">Register to participate</a>
                </div>
            </div>
        </div>
    </section>
