    <!-- Download Section -->
    <section id="register" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Join us in Seattle<h2> <p> September 5th-9th, 2016</p>
                    <a href=https://form.jotform.com/60315373537151 class="btn btn-default btn-lg">Register to participate</a>
                </div>
            </div>
        </div>
    </section>
