    <!-- Instructor Section -->
    <section id="instructors" class="content-section text-center">
        <div class="row">
          <h2>Instructors</h2>
            <div class="col-md-6">
                  <p><a href="http://arokem.org">Ariel Rokem, UW eScience</a></p>
            </div>
            <div class="col-md-6">
                  <p><a href="http://talyarkoni.org/">Tal Yarkoni, UT Austin</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                  <p><a href="http://www.childmind.org/en/directory/scientists/ccraddock">Cameron Craddock, Child Mind Institute</a></p>
            </div>

            <div class="col-md-4">
                  <p><a href="http://faculty.washington.edu/bbrunton/">Bing Brunton, UW </a></p>
            </div>
            <div class="col-md-4">
              <p><a href="http://satra.cogitatum.org/">Satra Ghosh, MIT</a></p>
          </div>
          </div>
          <div class="row">
          <div class="col-md-4">
            <p><a href="https://alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/nicholas-cain">Nicholas Cain, Allen Institute for Brain Science</a></p>
        </div>
          <div class="col-md-4">
                <p><a href="https://plus.google.com/+ChrisFiloGorgolewski/about">Chris Gorgolewski, Stanford</a></p>
          </div>
          <div class="col-md-4">
                <p><a href="http://escience.washington.edu/people/bernease-herman/">Bernease Herman, UW eScience</a></p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <p><a href="http://www.github.com/akeshavan/">Anisha Keshavan <br> UC, San Francisco</a></p>
          </div>
          <div class="col-md-4">
            <p><a href="http://ibic.washington.edu/madhyastha">Tara Madhyastha, UW</a></p>
          </div>
          <div class="col-md-4">
                <p><a href="http://staff.washington.edu/jakevdp/">Jake Vanderplas, UW eScience</a></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
                <p><a href="http://fperez.org/">Fernando Perez, <br> Berkeley Institute for Data Science</a></p>
          </div>
        <div class="col-md-4">
              <p><a href="https://poldracklab.stanford.edu/">Russell Poldrack, Stanford</a></p>
        </div>
        <div class="col-md-4">
              <p><a href="http://escience.washington.edu/people/valentina-staneva/">Valentina Staneva, UW eScience
              </a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
              <p><a href="http://mumford.fmripower.org/">Jeanette Mumford, <br> University of Wisconsin, Madison </a></p>
        </div>
        <div class="col-md-6">
          <p><a href="">JB Poline, <br> UC Berkeley</a></p>
        </div>
    </div>


    </section>
