    <!-- Instructor Section -->
    <section id="instructors" class="content-section">
      <div class="container instructor-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Instructors</h2>
            Institute faculty at Neurohackademy come from diverse backgrounds and have expertise in a wide range of fields, including neuroimaging, neuroinformatics, machine learning, statistics, data science, and neuroethics, among others. The format of the course is highly interactive and deliberately non-hierarchical; in addition to conventional lectures and tutorials, participants will have many opportunities to engage with instructors in a collaborative project development context.
            <table class="table table-large">
              <tbody>
<tr>
<td class="thumb"><img src="img/instructors/rokem.jpg"></td>
<td><a href="http://arokem.org/">Ariel Rokem</a> (Director)<br />eScience Institute<br />University of Washington</td>
<td class="thumb"><img src="img/instructors/yarkoni.jpg"></td>
<td><a href="http://talyarkoni.org">Tal Yarkoni</a> (Co-Director)<br />Department of Psychology<br />University of Texas at Austin</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/barch.jpg"></td>
<td><a href="https://psychweb.wustl.edu/people/deanna-barch">Deanna Barch</a><br />Department of Psychological and Brain Sciences<br />Washington University in St. Louis</td>
<td class="thumb"><img src="img/instructors/brunton.jpg"></td>
<td><a href="https://bingbrunton.com">Bing Brunton</a><br />Department of Biology<br />University of Washington</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/craddock.jpg"></td>
<td><a href="https://dellmed.utexas.edu/team-profile/cameron-craddock">Cameron Craddock</a><br />Diagnostic Medicine<br />University of Texas at Austin</td>
<td class="thumb"><img src="img/instructors/dyer.jpg"></td>
<td><a href="https://bme.gatech.edu/bme/faculty/Eva-Dyer">Eva Dyer</a><br />Department of Biomechanical Engineering<br />Georgia Tech</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/ghosh.jpg"></td>
<td><a href="http://satra.cogitatum.org/">Satra Ghosh</a><br />McGovern Institute for Brain Research<br />MIT</td>
<td class="thumb"><img src="img/instructors/gorgolewski.jpg"></td>
<td><a href="http://reproducibility.stanford.edu/team/chris-gorgolewski/">Chris Gorgolewski</a><br />Department of Psychology<br />Stanford University</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/keshavan.jpg"></td>
<td><a href="http://ilabs.washington.edu/postdoctoral-fellows/bio/i-labs-anisha-keshavan">Anisha Keshavan</a><br />eScience Institute<br />University of Washington</td>
<td class="thumb"><img src="img/instructors/klein.jpg"></td>
<td><a href="https://phil.washington.edu/people/eran-klein">Eran Klein</a><br />Department of Philosophy<br />University of Washington</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/perez.jpg"></td>
<td><a href="https://bids.berkeley.edu/people/fernando-perez">Fernando Perez</a><br />Department of Statistics<br />University of California Berkeley</td>
<td class="thumb"><img src="img/instructors/poldrack.jpg"></td>
<td><a href="https://poldracklab.stanford.edu/">Russell Poldrack</a><br />Department of Psychology<br />Stanford University</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/poline.jpg"></td>
<td><a href="https://www.mcgill.ca/qls/researchers/jb-poline">JB Poline</a><br />Neurology and Neurosurgery<br />McGill University</td>
<td class="thumb"><img src="img/instructors/vanderplas.jpg"></td>
<td><a href="http://escience.washington.edu/people/jake-vanderplas/">Jake Vanderplas</a><br />eScience Institute<br />University of Washington</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/varoquaux.jpg"></td>
<td><a href="http://gael-varoquaux.info/">Gael Varoquaux</a><br />Neurospin<br />INRIA</td>
<td class="thumb"><img src="img/instructors/wager.jpg"></td>
<td><a href="https://wagerlab.colorado.edu">Tor Wager</a><br />Department of Psychology & Neuroscience<br />University of Colorado Boulder</td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/whitaker.jpg"></td>
<td><a href="https://whitakerlab.github.io/">Kirstie Whitaker</a><br />Turing Institute<br /></td>
</tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#register" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
